.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    /* Add this line to hide the navbar initially */
    transform: translateY(-100%);
    /* Add a transition to make the navbar smoothly appear */
    transition: transform 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar.bg-nileblue {
    background-color: rgb(26, 40, 81, 0.95);
  }
  
  /* Add this class to show the navbar */
  .navbar.visible {
    transform: translateY(0);
  }

  .navbar-item {
    color: white;
    margin: 20px;
    font-weight: bolder;
  }
  