.overflow-y-hidden {
    overflow-y: hidden;
}

b {
    color: white !important;
}

h3 {
    max-width: 54.365rem !important;
}

h4 {
    max-width: 54.365rem !important;
    font-size: 1.5rem !important;
    margin-bottom: 1.25rem !important;
}

.bg-img-3 {
    background-position: bottom !important;
}

.splide__arrows {
    display: none !important;
}

.splide__slide--clone {
    display: none !important;
}

.keynote:hover {
    pointer-events: none !important;
}

.keynote {
    pointer-events: none !important;
}
