{% load static %}

<div class="pt-6">
    <h3 class="text-center text-2xl font-bold">
        Code of Conduct
    </h3>
    <div class="pt-4 flex flex-row">
        <p class="text-justify mx-auto basis-1/2">
            PyCon PH is a community conference intended for
            collaboration in the developer community.

            We value the participation of each member of the Python
            community and want all attendees to have an enjoyable
            and fulfilling experience. Accordingly, all attendees
            are expected to show respect and courtesy to other
            attendees throughout the conference and at all
            conference events, whether officially sponsored by
            PythonPH, Inc. or not.

            To make clear what is expected, all delegates/attendees,
            speakers, exhibitors, organizers and volunteers at any
            PyCon event are required to conform to the following
            Code of Conduct. Organizers will enforce this code
            throughout the event.
        </p>
    </div>
    <h4 class="text-center text-xl font-bold pt-4">License</h4>
    </h3>
    <div class="flex flex-row pt-2">
        <p class="pt-2 text-justify mx-auto basis-1/2">
            This Code of Conduct is based on the PyCon US 2015 CoC,
            and is licensed under a Creative Commons Attribution 3.0
            Unported License.
        </p>
    </div>
</div>