{% load wagtailimages_tags %}

<div class="bg-nileblue md:bg-img-3 py-70">
    <div class="max-w-1204 mx-auto px-15 2xl:px-0">
        <h2 class="text-yelloworange text-32 lg:text-48 font-medium text-center mb-15">
            {{ page.keynote_title }}
        </h2>
        <p class="text-yelloworange-70 text-24 font-baybayinsisil font-bold text-center mb-10 lg:mb-20">
            {{ page.keynote_subtitle }}
        </p>
        <div class="pt-20 pb-50">
            <div class="md:columns-2 lg:columns-3 gap-15 grid-center-items">
                {% for speaker in page.keynote_speakers %}
                <div class="w-full break-inside-avoid-column mb-15">
                    <div class="bg-white bg-img-9 bg-no-repeat bg-contain bg-bottom">
                        <div class="xl:max-h-380 mx-auto overflow-hidden border-5 border-bianca">
                            {% image speaker.display_photo original class="w-full py-zoom-in" %}
                        </div>
                        <div class="px-10 md:px-20 pt-5 pb-30 md:pb-40">
                            <h3
                                class="text-24 text-yelloworange font-medium">
                                {{ speaker.full_name }}
                            </h3>
                            <h4 class="text-cioccolato-60 text-14 mb-5">
                                {{ speaker.title }}
                            </h4>
                            <p class="text-cioccolato text-14">
                                {{ speaker.introduction }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
