{% load wagtailimages_tags %}
{% load static %}

<div class="pb-200 md:pb-300">
  <div class="max-w-975 mx-auto px-25 lg:px-0">
    <p class="font-baybayinsisil text-20 md:text-24 text-yellow">
    {{ page.keynote_subtitle }}
    </p>
    <h2 class="font-medium text-48 md:text-80 text-white mb-20">
      {{ page.keynote_title }}
    </h2>
    <h3 class="text-24 md:text-32 text-white mb-50">
      Discover our keynote speakers for PyCon Philippines 2024
    </h3>
  </div>

  <div class="">
    <div class="splide slider1">
      <div class="splide__track">
        <ul class="splide__list">
          {% for speaker in page.keynote_speakers.all %}
          <li class="splide__slide">
            {% image speaker.display_photo original %}
            <p
                class="text-center text-32 text-white mb-10 pt-20"
                >
                {{ speaker.first_name }} {{ speaker.last_name }}
            </p>
            <p
                class="text-center text-24 text-white-80"
                >
                {{ speaker.title }}
            </p>
            <p
                class="desc text-center text-16 text-white-80"
                >
                {{ speaker.introduction }}
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

  </div>

