@font-face {
    font-family: Ubuntu;
    src: url(/static/fonts/Ubuntu-Light/Ubuntu-Light.eot);
    src: url(/static/fonts/Ubuntu-Light/Ubuntu-Light.eot?#iefix) format("embedded-opentype"), url(/static/fonts/Ubuntu-Light/Ubuntu-Light.woff2) format("woff2"), url(/static/fonts/Ubuntu-Light/Ubuntu-Light.woff) format("woff"), url(/static/fonts/Ubuntu-Light/Ubuntu-Light.ttf) format("truetype"), url(/static/fonts/Ubuntu-Light/Ubuntu-Light.svg#UbuntuLight) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Ubuntu;
    src: url(/static/fonts/Ubuntu-Regular/Ubuntu-Regular.eot);
    src: url(/static/fonts/Ubuntu-Regular/Ubuntu-Regular.eot?#iefix) format("embedded-opentype"), url(/static/fonts/Ubuntu-Regular/Ubuntu-Regular.woff2) format("woff2"), url(/static/fonts/Ubuntu-Regular/Ubuntu-Regular.woff) format("woff"), url(/static/fonts/Ubuntu-Regular/Ubuntu-Regular.ttf) format("truetype"), url(/static/fonts/Ubuntu-Regular/Ubuntu-Regular.svg#UbuntuRegular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Ubuntu;
    src: url(/static/fonts/Ubuntu-Medium/Ubuntu-Medium.eot);
    src: url(/static/fonts/Ubuntu-Medium/Ubuntu-Medium.eot?#iefix) format("embedded-opentype"), url(/static/fonts/Ubuntu-Medium/Ubuntu-Medium.woff2) format("woff2"), url(/static/fonts/Ubuntu-Medium/Ubuntu-Medium.woff) format("woff"), url(/static/fonts/Ubuntu-Medium/Ubuntu-Medium.ttf) format("truetype"), url(/static/fonts/Ubuntu-Medium/Ubuntu-Medium.svg#UbuntuMedium) format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Ubuntu;
    src: url(/static/fonts/Ubuntu-Bold/Ubuntu-Bold.eot);
    src: url(/static/fonts/Ubuntu-Bold/Ubuntu-Bold.eot?#iefix) format("embedded-opentype"), url(/static/fonts/Ubuntu-Bold/Ubuntu-Bold.woff2) format("woff2"), url(/static/fonts/Ubuntu-Bold/Ubuntu-Bold.woff) format("woff"), url(/static/fonts/Ubuntu-Bold/Ubuntu-Bold.ttf) format("truetype"), url(/static/fonts/Ubuntu-Bold/Ubuntu-Bold.svg#UbuntuBold) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Tagalog-Doctrina-1593;
    src: url(/static/fonts/Tagalog-Doctrina-1593/Tagalog-Doctrina-1593.eot);
    src: url(/static/fonts/Tagalog-Doctrina-1593/Tagalog-Doctrina-1593.eot?#iefix) format("embedded-opentype"), url(/static/fonts/Tagalog-Doctrina-1593/Tagalog-Doctrina-1593.woff2) format("woff2"), url(/static/fonts/Tagalog-Doctrina-1593/Tagalog-Doctrina-1593.woff) format("woff"), url(/static/fonts/Tagalog-Doctrina-1593/Tagalog-Doctrina-1593.svg#UbuntuBold) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Baybayin-Sisil;
    src: url(/static/fonts/Baybayin-Sisil/Baybayin-Sisil.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.tab {
    overflow: hidden
}

.tab button {
    --tw-text-opacity: 1;
    color: rgb(74 48 10 / var(--tw-text-opacity))
}

.tab button.active {
    --tw-bg-opacity: 1;
    background-color: rgb(255 173 57 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.tabcontent {
    display: none
}

.tab-slider-wrapper {
    max-width: 270px
}

@media screen and (min-width:768px) {
    .tab-slider-wrapper {
        max-width: 650px
    }
}

@media screen and (min-width:1024px) {
    .tab-slider-wrapper {
        max-width: 900px
    }
}

.tab-slider-wrapper #scroller-btn-left,
.tab-slider-wrapper #scroller-btn-right {
    position: absolute;
    top: .3125rem;
    left: -3.125rem;
    display: flex;
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media screen and (min-width:1280px) {
    .tab-slider-wrapper {
        max-width: unset
    }
    .tab-slider-wrapper #scroller-btn-left,
    .tab-slider-wrapper #scroller-btn-right {
        display: none !important
    }
}

.tab-slider-wrapper #scroller-btn-right {
    right: -3.125rem;
    left: unset
}

*,
::after,
::before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}

::after,
::before {
    --tw-content: ''
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

h1,
h2,
h3,
h4,
h5,
h6 {}

a {
    color: inherit;
    text-decoration: inherit
}

b {
    font-weight: bolder
}

code,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -.25em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button {
    text-transform: none;
    cursor: pointer
}

[type=button],
[type=reset],
button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

img,
object,
svg {
    display: block;
    vertical-align: middle
}

img {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}

.visible {
    visibility: visible
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.bottom-24 {
    bottom: 1.5rem
}

.right-0 {
    right: 0
}

.right-15 {
    right: .9375rem
}

.bottom-1\/4 {
    bottom: 25%
}

.mx-15 {
    margin-left: .9375rem;
    margin-right: .9375rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-10 {
    margin-top: .625rem;
    margin-bottom: .625rem
}

.mx-10 {
    margin-left: .625rem;
    margin-right: .625rem
}

.mb-15 {
    margin-bottom: .9375rem
}

.mr-15 {
    margin-right: .9375rem
}

.mb-32 {
    margin-bottom: 2rem
}

.mb-10 {
    margin-bottom: .625rem
}

.mb-5 {
    margin-bottom: .3125rem
}

.mb-40 {
    margin-bottom: 2.5rem
}

.mb-8 {
    margin-bottom: .5rem
}

.mb-50 {
    margin-bottom: 3.125rem
}

.mb-25 {
    margin-bottom: 1.5625rem
}

.mr-18 {
    margin-right: 1.125rem
}

.mb-6 {
    margin-bottom: .375rem
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.table {
    display: table
}

.hidden {
    display: none !important
}

.h-screen {
    height: 100vh
}

.h-full {
    height: 100%
}

.h-6 {
    height: .375rem
}

.h-48 {
    height: 3rem
}

.h-22 {
    height: 1.375rem
}

.h-24 {
    height: 1.5rem
}

.h-30 {
    height: 1.875rem
}

.h-8 {
    height: .5rem
}

.min-h-1050 {
    min-height: 65.625rem
}

.min-h-screen {
    min-height: 100vh
}

.w-screen-32 {
    width: calc(100vw - 32px)
}

.w-6 {
    width: .375rem
}

.w-310 {
    width: 19.375rem
}

.w-full {
    width: 100%
}

.w-172 {
    width: 10.75rem
}

.w-2\/12 {
    width: 16.666667%
}

.w-4\/12 {
    width: 33.333333%
}

.w-3\/12 {
    width: 25%
}

.w-1\/2 {
    width: 50%
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content
}

.w-300 {
    width: 18.75rem
}

.w-8 {
    width: .5rem
}

.max-w-1204 {
    max-width: 75.25rem
}

.max-w-1280 {
    max-width: 80rem
}

.max-w-850 {
    max-width: 53.125rem
}

.rotate-45 {
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.break-inside-avoid-column {
    -moz-column-break-inside: avoid;
    break-inside: avoid-column
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-15 {
    gap: .9375rem
}

.gap-5 {
    gap: .3125rem
}

.gap-x-15 {
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
}

.gap-y-70 {
    row-gap: 4.375rem
}

.overflow-hidden {
    overflow: hidden
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.rounded-full {
    border-radius: 9999px
}

.border-5 {
    border-width: .3125rem
}

.border-b {
    border-bottom-width: 1px
}

.border-t {
    border-top-width: 1px
}

.border-b-1 {
    border-bottom-width: .0625rem
}

.border-bianca {
    --tw-border-opacity: 1;
    border-color: rgb(251 247 238 / var(--tw-border-opacity))
}

.border-cioccolato {
    --tw-border-opacity: 1;
    border-color: rgb(74 48 10 / var(--tw-border-opacity))
}

.border-cioccolato-10 {
    border-color: rgba(74, 48, 10, .1)
}

.border-white-70 {
    border-color: rgba(255, 255, 255, .7)
}

.bg-yelloworange {
    --tw-bg-opacity: 1;
    background-color: rgb(255 173 57 / var(--tw-bg-opacity))
}

.bg-nileblue {
    --tw-bg-opacity: 1;
    background-color: rgb(26 40 81 / var(--tw-bg-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-bianca {
    --tw-bg-opacity: 1;
    background-color: rgb(251 247 238 / var(--tw-bg-opacity))
}

.bg-woodsmoke {
    --tw-bg-opacity: 1;
    background-color: rgb(20 21 21 / var(--tw-bg-opacity))
}

.bg-cioccolato {
    --tw-bg-opacity: 1;
    background-color: rgb(74 48 10 / var(--tw-bg-opacity))
}

.bg-cioccolato-10 {
    background-color: rgba(74, 48, 10, .1)
}

.bg-cover {
    background-size: cover
}

.bg-contain {
    background-size: contain
}

.bg-bottom {
    background-position: bottom
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.py-11 {
    padding-top: .6875rem;
    padding-bottom: .6875rem
}

.px-15 {
    padding-left: .9375rem;
    padding-right: .9375rem
}

.py-32 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-70 {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem
}

.px-10 {
    padding-left: .625rem;
    padding-right: .625rem
}

.px-20 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-5 {
    padding-left: .3125rem;
    padding-right: .3125rem
}

.py-12 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-50 {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem
}

.py-90 {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem
}

.py-6 {
    padding-top: .375rem;
    padding-bottom: .375rem
}

.pt-248 {
    padding-top: 15.5rem
}

.pt-200 {
    padding-top: 12.5rem
}

.pb-50 {
    padding-bottom: 3.125rem
}

.pt-5 {
    padding-top: .3125rem
}

.pt-20 {
    padding-top: 1.25rem
}

.pb-30 {
    padding-bottom: 1.875rem
}

.pb-40 {
    padding-bottom: 2.5rem
}

.pt-10 {
    padding-top: .625rem
}

.pr-10 {
    padding-right: .625rem
}

.pt-32 {
    padding-top: 2rem
}

.pt-90 {
    padding-top: 5.625rem
}

.pb-90 {
    padding-bottom: 5.625rem
}

.pt-40 {
    padding-top: 2.5rem
}

.pt-50 {
    padding-top: 3.125rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.font-ubuntu {
    font-family: Ubuntu
}

.font-tagalogdoctrina1593{
    font-family: Tagalog-Doctrina-1593
}

.font-baybayinsisil {
    font-family: Baybayin-Sisil
}

.text-24 {
    font-size: 1.5rem
}

.text-16 {
    font-size: 1rem
}

.text-32 {
    font-size: 2rem
}

.text-14 {
    font-size: .875rem
}

.text-18 {
    font-size: 1.125rem
}

.font-medium {
    font-weight: 500
}

.font-bold {
    font-weight: 700
}

.uppercase {
    text-transform: uppercase
}

.lowercase {
    text-transform: lowercase
}

.italic {
    font-style: italic
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-cioccolato {
    --tw-text-opacity: 1;
    color: rgb(74 48 10 / var(--tw-text-opacity))
}

.text-cioccolato-60 {
    color: rgba(74, 48, 10, .6)
}

.text-yelloworange {
    --tw-text-opacity: 1;
    color: rgb(255 173 57 / var(--tw-text-opacity))
}

.text-yelloworange-70 {
    color: rgba(255, 173, 57, .7)
}

.text-white-60 {
    color: rgba(255, 255, 255, .6)
}

.text-white-70 {
    color: rgba(255, 255, 255, .7)
}

.underline {
    text-decoration-line: underline
}

.opacity-70 {
    opacity: .7
}

.mix-blend-darken {
    mix-blend-mode: darken
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.bg-img-1 {
    background-image: url(/static/img/bg/bg-1.png)
}

.bg-img-2 {
    background-image: url(/static/img/bg/bg-2.svg)
}

.bg-img-5 {
    background-image: url(/static/img/bg/bg-5.svg)
}

.bg-img-7 {
    background-image: url(/static/img/bg/bg-7.svg)
}

.bg-img-8 {
    background-image: url(/static/img/bg/bg-8.svg)
}

.bg-img-9 {
    background-image: url(/static/img/bg/bg-9.svg)
}

body {
    font-family: Ubuntu
}

p {
    margin-bottom: .75rem;
    font-size: 1.125rem;
    line-height: 1.293rem;
    color: rgba(74, 48, 10, .6)
}

.py-zoom-in {
    transition: transform .5s, filter 1.5s ease-in-out
}

.py-zoom-in:hover {
    transform: scale(1.1)
}

.filter-sponsor {
    margin-bottom: .9375rem;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 9999px;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-left: .9375rem;
    padding-right: .9375rem;
    font-size: 1.125rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(74 48 10 / var(--tw-text-opacity))
}

.filter-sponsor.active {
    --tw-bg-opacity: 1;
    background-color: rgb(255 173 57 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.list-sponsor .item {
    max-height: 5rem;
    width: calc(50% - 15px);
    max-width: 11.25rem
}

.hover\:opacity-100:hover {
    opacity: 1
}

@media (min-width:768px) {
    .list-sponsor .item {
        width: calc(25% - 15px)
    }
    .md\:top-1\/2 {
        top: 50%
    }
    .md\:order-last {
        order: 9999
    }
    .md\:mb-20 {
        margin-bottom: 1.25rem
    }
    .md\:flex {
        display: flex
    }
    .md\:hidden {
        display: none
    }
    .md\:h-screen {
        height: 100vh
    }
    .md\:w-1\/2 {
        width: 50%
    }
    .md\:w-310 {
        width: 19.375rem
    }
    .md\:w-2\/12 {
        width: 16.666667%
    }
    .md\:w-102 {
        width: 6.375rem
    }
    .md\:w-3\/12 {
        width: 25%
    }
    .md\:w-4\/12 {
        width: 33.333333%
    }
    .md\:columns-2 {
        -moz-columns: 2;
        columns: 2
    }
    .md\:flex-row {
        flex-direction: row
    }
    .md\:flex-row-reverse {
        flex-direction: row-reverse
    }
    .md\:items-start {
        align-items: flex-start
    }
    .md\:justify-center {
        justify-content: center
    }
    .md\:gap-x-18 {
        -moz-column-gap: 1.125rem;
        column-gap: 1.125rem
    }
    .md\:border-0 {
        border-width: 0
    }
    .md\:px-20 {
        padding-left: 1.25rem;
        padding-right: 1.25rem
    }
    .md\:py-90 {
        padding-top: 5.625rem;
        padding-bottom: 5.625rem
    }
    .md\:py-25 {
        padding-top: 1.5625rem;
        padding-bottom: 1.5625rem
    }
    .md\:px-50 {
        padding-left: 3.125rem;
        padding-right: 3.125rem
    }
    .md\:py-32 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }
    .md\:py-0 {
        padding-top: 0;
        padding-bottom: 0
    }
    .md\:px-0 {
        padding-left: 0;
        padding-right: 0
    }
    .md\:pt-0 {
        padding-top: 0
    }
    .md\:pb-15 {
        padding-bottom: .9375rem
    }
    .md\:pr-10 {
        padding-right: .625rem
    }
    .md\:pl-10 {
        padding-left: .625rem
    }
    .md\:pb-40 {
        padding-bottom: 2.5rem
    }
    .md\:pr-20 {
        padding-right: 1.25rem
    }
    .md\:pr-50 {
        padding-right: 3.125rem
    }
    .md\:text-left {
        text-align: left
    }
    .md\:text-48 {
        font-size: 3rem
    }
    .md\:text-32 {
        font-size: 2rem
    }
    .md\:text-24 {
        font-size: 1.5rem
    }
    .md\:bg-img-3 {
        background-image: url(/static/img/bg/bg-3.svg)
    }
    .md\:bg-img-4 {
        background-image: url(/static/img/bg/bg-4.svg)
    }
    .md\:bg-img-6 {
        background-image: url(/static/img/bg/bg-6.svg)
    }
}

@media (min-width:1024px) {
    .lg\:mb-20 {
        margin-bottom: 1.25rem
    }
    .lg\:mb-32 {
        margin-bottom: 2rem
    }
    .lg\:mb-0 {
        margin-bottom: 0
    }
    .lg\:mb-18 {
        margin-bottom: 1.125rem
    }
    .lg\:w-1\/4 {
        width: 25%
    }
    .lg\:w-auto {
        width: auto
    }
    .lg\:w-1\/3 {
        width: 33.333333%
    }
    .lg\:max-w-1050 {
        max-width: 65.625rem
    }
    .lg\:max-w-549 {
        max-width: 34.313rem
    }
    .lg\:max-w-850 {
        max-width: 53.125rem
    }
    .lg\:columns-3 {
        -moz-columns: 3;
        columns: 3
    }
    .lg\:py-50 {
        padding-top: 3.125rem;
        padding-bottom: 3.125rem
    }
    .lg\:py-125 {
        padding-top: 7.8125rem;
        padding-bottom: 7.8125rem
    }
    .lg\:px-172 {
        padding-left: 10.75rem;
        padding-right: 10.75rem
    }
    .lg\:pt-0 {
        padding-top: 0
    }
    .lg\:pt-35 {
        padding-top: 2.1875rem
    }
    .lg\:text-48 {
        font-size: 3rem
    }
}

@media (min-width:1280px) {
    .list-sponsor .item {
        width: 16.666667%
    }
    .xl\:h-290 {
        height: 18.125rem
    }
    .xl\:h-380 {
        height: 23.75rem
    }
    .xl\:max-h-380 {
        max-height: 23.75rem
    }
    .xl\:w-390 {
        width: 24.375rem
    }
    .xl\:w-290 {
        width: 18.125rem
    }
    .xl\:justify-center {
        justify-content: center
    }
    .xl\:bg-contain {
        background-size: contain
    }
    .xl\:px-40 {
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }
    .xl\:pt-35 {
        padding-top: 2.1875rem
    }
    .xl\:pr-0 {
        padding-right: 0
    }
}

@media (min-width:1536px) {
    .\32xl\:px-0 {
        padding-left: 0;
        padding-right: 0
    }
}

.category-list {
    list-style: none;
}

.sponsor img {
    max-height: 80px;
}

.grid-center-items {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
}
